.wrapper {
    width: 85%;
    margin: 0 auto;
    overflow: hidden;
    padding: 0 12px;
    position: relative;
}

.heading {
    display: flex;
    justify-content: space-between;
    margin-bottom: 48px;
}

.heading:has(.center.title) {
    justify-content: center;
}

.title {
    font-size: 32px;
    color: #00204a;
    font-weight: 500;
}

.heading-btn {
    padding: 19px 26px;
    position: relative;
    color: #fff;
    background-color: var(--primary);
    border: none;
    transition: 0.3s all ease;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;

    &:hover {
        top: -2px;
        box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
    }
}

.content {
    display: flex;
    width: max-content;
    transition: all 0.5s ease-in-out;
}

.action-btn {
    display: flex;
    justify-content: space-between;
    position: relative;
    // top: -50px;

    button {
        padding: 7px 20px;
        cursor: pointer;
        border-radius: 30px;
        border: none;
        color: #00204a;
    }
}
